*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-container {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(61, 60, 64);
  min-height: 100vh;  
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.main-container {
  width: 85%; /* Cuando el menú está visible */
  margin-left: 15%;        /* Espacio reservado para el menú */
  transition: all 0.3s ease;
  background-color: rgb(81, 79, 89);
  display: flex;
  flex-direction: column;
  padding: 5vh 7vh;
  margin-left: 15%; 
}

.main-container h1 {
  color: #fff;
}

.hide ~ .main-container {
  width: 100%;             /* Cuando el menú está oculto */
  margin-left: 0;          /* Elimina el espacio del menú */
}

@media (max-width: 1000px) {
  .app-container {
    flex-direction: column; 
  }

  .main-container {
    width: 100%; 
    margin-left: 0; 
  }
}
