.chat-container {
    display: flex;
    flex-direction: column;
    height: 78vh;
    width: 85%;
    margin: auto; 
    border-radius: 5px;
}

.title-chat {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.chat-container img{
    width: 7.5%;
    margin-left: 10px;
}
.messages-container {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgb(61, 60, 64);
}

.message {
    max-width: 70%;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    word-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    background-color: rgb(240, 156, 184);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.message.gpt {
    align-self: flex-start;
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}

.input-chat-container {
    display: flex;
    padding: 10px; 
    width: 90%;
    align-self: center;
}

.input-chat {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 10px;
}

.button-chat {
    padding: 10px 20px;
    font-size: medium;
    border: none;
    background-color: rgb(240, 156, 184);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}

.button-chat:hover {
    background-color: rgb(250, 127, 168);
}