/* Navbar general */
.navbar {
    background-color: #3f3f46; /* bg-zinc-700 */
    margin: 0.75rem 0; /* my-3 */
    display: flex; /* flex */
    justify-content: space-between; /* justify-between */
    padding: 1.25rem 2.5rem; /* py-5 px-10 */
    border-radius: 0.5rem; /* rounded-lg */
}

/* Título */
.navbar h1 {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold; /* font-bold */
    color: white; /* Por defecto, texto blanco */
}

/* Lista de navegación */
.navbar .buttons {
    display: flex; /* flex */
    gap: 0.5rem; /* gap-x-2 */
    list-style: none; /* Eliminar estilo de lista */
    margin: 0;
    padding: 0;
}

/* Enlaces dentro de la lista */
.navbar .buttons li a {
    background-color: #6366f1; /* bg-indigo-500 */
    padding: 0.25rem 1rem; /* px-4 py-1 */
    border-radius: 0.375rem; /* rounded-md */
    color: white; /* Texto blanco */
    text-decoration: none; /* Quitar subrayado */
    display: inline-block;
    text-align: center;
    font-size: 1rem; /* Tamaño base del texto */
}

/* Hover en los enlaces */
.navbar .buttons li a:hover {
    background-color: #4f46e5; /* Un poco más oscuro que indigo-500 */
}
