.info-container {
    display: flex;
    flex-direction: column;    
}

.recipes-container{
    color: white;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
    gap: 20px;
}

p .back-link {
    margin-left: 20px;
}

.back-link {
    color: rgb(240, 156, 184); /* Indigo para el texto */
    padding: 0.25rem 0.5rem; /* Espaciado adicional */
    text-decoration: none; /* Sin subrayado */
    font-size: 1rem; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    display: inline-flex; /* Para alinear la flecha y el texto */
    border: 2px solid transparent; /* Borde inicial transparente */
    align-items: center; /* Alinea verticalmente la flecha y el texto */
    transition: all 0.3s ease; /* Transición suave */
}

.fav-title {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    color: #fff;
}

.back-link::before {
    content: "←"; /* Flecha hacia la izquierda */
    margin-right: 0.5rem; /* Espaciado entre la flecha y el texto */
    font-size: 1rem; /* Tamaño de la flecha */
    color: rgb(240, 156, 184); /* Color de la flecha */
    transition: all 0.3s ease; /* Suavidad en el hover */
}

/* Hover */
.back-link:hover {
    color: white; /* Texto blanco */
    background-color: #4f46e5; /* Fondo indigo */
    border-radius: 0.375rem; /* Bordes redondeados */
    border: 2px solid rgb(240, 156, 184);
}

.back-link:hover::before {
    color: white; /* Cambiar el color de la flecha a blanco */
}



@media (max-width: 1000px) {
    .recipes-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }

}